
.hover-icon {
    color: rgba(0,0,0,0.3);
    cursor: pointer;
}

.hover-icon.bottom-right {
    position: absolute;
    bottom: 6px;
    right: 6px;
}

.hover-icon:hover {
    color: rgba(0,0,0,0.7);
}